/*
.view.status-message
----------------------------------------
*/

.view.status-message {
    font-size: 1rem;
    line-height: 1.4em;

    margin: 0 0 1rem;

    .message {
        padding: 0.5em 1em;
        border-left: 3px solid #333;
        min-height: 3em;
    }

    &.type-success {
        .status-icon {
            color: #95b392;
        }
        .message {
            border-left-color: #95b392;
        }
    }
    &.type-error {
        .status-icon {
            color: #ee9696;
        }
        .message {
            border-left-color: #ee9696;
        }
    }

    &.has-icon {
        padding-left: 3.5em;

        .status-icon {

            padding: 0.5em;
            position: absolute;
            top: 0;
            left: 0;

            i {
                font-size: 2em;
            }
        }
    }
}
